<a href="https://colab.research.google.com/github/Owl-3/Machine-Learning/blob/main/DataMungingAssignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Assignment Questions
1. How many bookings of arrestees were made in 2018? [5]</br>
2. How many bookings of arrestees were made in each area and which area has the most arrests in 2018?[5]</br>
3. There are differences between the average age of an arrestee for the various charge groups. Find the average age of arrestees per each charge group.Only consider data for 2018. Do not consider "Pre-Delinquency" and "Non-Criminal Detention" as these charge groups are reserved for minors
Exclude any arrests where the charge group description is not known        [5]</br>
4. What is the 95% quantile of the age of the arrestee in 2018? Only consider the following charge groups for your analysis:
Vehicle Theft 
Robbery
Burglary
Receive Stolen Property                                                                               [5]</br>
5. Crime arrest incidents have been dropping over the years. Using a linear regression for the data from 2010 and 2018 (inclusive), predict number of crime arrests in 2019? Round to the nearest integer. Note, the data set includes arrests for misdemeanor, felonies, etc.                                              [5]</br>
6. How many arrest incidents occurred within 2 km from the Bradbury Building in 2018? Use (34.050536, -118.247861) for the coordinates of the Bradbury Building . For simplicity, please use the spherical Earth projected to a plane equation for calculating distances. Use the radius of the Earth as 6371 km. Note, some arrest records are missing location data and the location is listed as (0, 0). These records should not factor in your calculation.[5]

In [ ]:
# Installing python libraries

In [ ]:
!pip install pandas
!pip install numpy
!pip install matplotlib

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (1.21.6)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: matplotlib in /usr/local/lib/python3.8/dist-packages (3.2.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib) (1.4.4)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.8/dist-packages (from matplotlib) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.1->matplotlib) (1.15.0)

In [27]:
!pip install seaborn
!pip install sklearn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: seaborn in /usr/local/lib/python3.8/dist-packages (0.11.2)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.8/dist-packages (from seaborn) (1.21.6)
Requirement already satisfied: matplotlib>=2.2 in /usr/local/lib/python3.8/dist-packages (from seaborn) (3.2.2)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.8/dist-packages (from seaborn) (1.3.5)
Requirement already satisfied: scipy>=1.0 in /usr/local/lib/python3.8/dist-packages (from seaborn) (1.7.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=2.2->seaborn) (1.4.4)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=2.2->seaborn) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=2.2->seaborn) (3.0.9)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=2.2->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.23->seaborn) (2022.7)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.1->matplotlib>=2.2->seaborn) (1.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting sklearn
  Downloading sklearn-0.0.post1.tar.gz (3.6 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py) ... done
  Created wheel for sklearn: filename=sklearn-0.0.post1-py3-none-any.whl size=2344 sha256=46bc9fa31ad5106799f6cb30d546181f2f7d1be5f7e090b4005e6e4ac2e278c4
  Stored in directory: /root/.cache/pip/wheels/14/25/f7/1cc0956978ae479e75140219088deb7a36f60459df242b1a72
Successfully built sklearn
Installing collected packages: sklearn
Successfully installed sklearn-0.0.post1

In [ ]:
# Mounting the drive on google collab
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

### Importing library dependencies

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Loading the Dataset

In [28]:
%cd /content/drive

/content/drive

In [29]:
%pwd

'/content/drive'

In [2]:
arrest_df = pd.read_csv('/content/drive/MyDrive/Artificial Intelligence/Datasets/Arrest_Data_from_2010_to_Present.csv')
arrest_df.head()

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Report ID,Arrest Date,Time,Area ID,Area Name,Reporting District,Age,Sex Code,Descent Code,Charge Group Code,Charge Group Description,Arrest Type Code,Charge,Charge Description,Address,Cross Street,Location
0,4248313,02/24/2015,1310.0,20.0,Olympic,2022.0,37.0,M,H,5.0,Burglary,F,459PC,BURGLARY,5TH,WILTON,"(34.0653, -118.314)"
1,191811472,05/03/2019,1700.0,18.0,Southeast,1802.0,23.0,F,B,NaN,NaN,M,653.22 PC,NaN,91ST,FIGUEROA,"(33.9543, -118.2827)"
2,4254777,02/26/2015,2010.0,19.0,Mission,1985.0,22.0,M,H,6.0,Larceny,M,459.5PC,SHOPLIFTING,8300 VAN NUYS BL,NaN,"(34.2216, -118.4488)"
3,5614161,04/29/2019,1040.0,8.0,West LA,842.0,41.0,M,H,3.0,Robbery,F,211PC,ROBBERY,11600 WILSHIRE BL,NaN,"(34.0508, -118.4592)"
4,5615197,04/30/2019,615.0,6.0,Hollywood,663.0,27.0,M,O,5.0,Burglary,F,459PC,BURGLARY,LA BREA,LEXINGTON,"(34.0907, -118.3384)"

In [30]:
arrest_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1139374 entries, 0 to 1227515
Data columns (total 17 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   report_id                 1139374 non-null  object
 1   arrest_date               1139374 non-null  datetime64[ns]
 2   time                      1139374 non-null  float64
 3   area_id                   1139374 non-null  float64
 4   area_name                 1139374 non-null  object
 5   reporting_district        1139374 non-null  float64
 6   age                       1139374 non-null  float64
 7   sex_code                  1139374 non-null  object
 8   descent_code              1139374 non-null  object
 9   charge_group_code         1139374 non-null  float64
 10  charge_group_description  1139374 non-null  object
 11  arrest_type_code          1139374 non-null  object
 12  charge                    1139374 non-null  object
 13  charge_description        1139374 non-null  object
 14  address                   1139374 non-null  object
 15  location                  1139374 non-null  object
 16  year                      1139374 non-null  int64
dtypes: datetime64[ns](1), float64(5), int64(1), object(10)
memory usage: 156.5+ MB

In [31]:
arrest_df.describe()

,time,area_id,reporting_district,age,charge_group_code,year
count,1.139374e+06,1.139374e+06,1.139374e+06,1.139374e+06,1.139374e+06,1.139374e+06
mean,1.389534e+03,1.023197e+01,1.070161e+03,3.420294e+01,1.624930e+01,2.013530e+03
std,6.633751e+02,6.244202e+00,6.231099e+02,1.356656e+01,7.020063e+00,2.574919e+00
min,0.000000e+00,1.000000e+00,1.000000e+02,0.000000e+00,1.000000e+00,2.010000e+03
25%,9.450000e+02,5.000000e+00,5.210000e+02,2.300000e+01,1.100000e+01,2.011000e+03
50%,1.515000e+03,1.100000e+01,1.109000e+03,3.200000e+01,1.700000e+01,2.013000e+03
75%,1.930000e+03,1.500000e+01,1.553000e+03,4.500000e+01,2.300000e+01,2.016000e+03
max,2.400000e+03,2.100000e+01,2.199000e+03,9.600000e+01,2.700000e+01,2.019000e+03

### Data Preprocessing

Arrest date, Time, Area Id, Age are labeled as object/string data types instead of datetime, time, integers. I'll perform type-casting on the column to convert them.

In [32]:
arrest_df.shape

(1139374, 17)

In [3]:
# renaming column names
arrest_df.columns = arrest_df.columns.str.lower()
arrest_df.columns = arrest_df.columns.str.replace(' ','_')
arrest_df.columns

Index(['report_id', 'arrest_date', 'time', 'area_id', 'area_name',
       'reporting_district', 'age', 'sex_code', 'descent_code',
       'charge_group_code', 'charge_group_description', 'arrest_type_code',
       'charge', 'charge_description', 'address', 'cross_street', 'location'],
      dtype='object')

In [4]:
# converting arrest_date to datetime data type
arrest_df['arrest_date'] = pd.to_datetime(arrest_df['arrest_date'])
arrest_df['arrest_date'].dtype

dtype('<M8[ns]')

#### Handling Missing Values

In [5]:
missing=arrest_df.isna().sum()
missing.sort_values(ascending=False)

cross_street                520187
charge_group_description     88006
charge_group_code            87570
charge_description           87534
time                           199
location                         5
address                          5
charge                           5
arrest_type_code                 5
descent_code                     4
arrest_date                      4
sex_code                         4
age                              4
reporting_district               4
area_name                        4
area_id                          4
report_id                        0
dtype: int64

In [6]:

missing=arrest_df.isna().sum()
miss_perct = missing/len(arrest_df)*100
miss_perct.sort_values(ascending=False)
# plt.plot(miss_sorted)

cross_street                42.377035
charge_group_description     7.169409
charge_group_code            7.133890
charge_description           7.130957
time                         0.016212
location                     0.000407
address                      0.000407
charge                       0.000407
arrest_type_code             0.000407
descent_code                 0.000326
arrest_date                  0.000326
sex_code                     0.000326
age                          0.000326
reporting_district           0.000326
area_name                    0.000326
area_id                      0.000326
report_id                    0.000000
dtype: float64

Cross Street has alot of missing values, 42.34%. It can therefore be dropped entirely as it is less informative/important

In [7]:
arrest_df.drop('cross_street', axis=1, inplace=True)
arrest_df.columns

Index(['report_id', 'arrest_date', 'time', 'area_id', 'area_name',
       'reporting_district', 'age', 'sex_code', 'descent_code',
       'charge_group_code', 'charge_group_description', 'arrest_type_code',
       'charge', 'charge_description', 'address', 'location'],
      dtype='object')

In [8]:
# dropping missing values
arrest_df.dropna(inplace=True)

In [9]:
# confirming all missing values are dropped 
arrest_df.isna().any()

report_id                   False
arrest_date                 False
time                        False
area_id                     False
area_name                   False
reporting_district          False
age                         False
sex_code                    False
descent_code                False
charge_group_code           False
charge_group_description    False
arrest_type_code            False
charge                      False
charge_description          False
address                     False
location                    False
dtype: bool

In [10]:
arrest_df['year'] = pd.DatetimeIndex(arrest_df['arrest_date']).year
print(f'Unique years: {arrest_df["year"].unique()}')
print(arrest_df['year'].head())

Unique years: [2015 2019 2016 2017 2018 2012 2014 2010 2011 2013]
0    2015
2    2015
3    2019
4    2019
6    2015
Name: year, dtype: int64

Quiz1: How many bookings of arrestees were made in 2018?
> From the results below, there are *30328* arrestee bookings in 2018

In [14]:
df_2018 = arrest_df[arrest_df['year']==2018]
df_2018['year'].value_counts()

2018    30328
Name: year, dtype: int64

2. How many bookings of arrestees were made in each area and which area has the most arrests in 2018?[5]</br>
> **Central Area** has the most arrests of **5011** in 2018 </br></br>
The Areas performed as follows with Central having the highest number of arrestees:

       Central          5011
       Hollywood        2798
       Rampart          1935
       Pacific          1699
       Van Nuys         1530
       Newton           1490
       Southwest        1424
       Harbor           1354
       77th Street      1303
       Northeast        1299
       Olympic          1249
       Mission          1243
       West LA          1190
       Devonshire       1185
       N Hollywood      1136
       Topanga          1035
       West Valley       832
       Southeast         708
       Hollenbeck        675
       Foothill          660
       Wilshire          572

In [19]:
# creating a dataframe with only 2018 data
df_2018 = arrest_df[(arrest_df['year']==2018)] 
# grouping df2 by year against area name and sorting in ascending
df_2018.groupby('year').area_name.value_counts().sort_values(ascending=False)

year  area_name
2018  Central        5011
      Hollywood      2798
      Rampart        1935
      Pacific        1699
      Van Nuys       1530
      Newton         1490
      Southwest      1424
      Harbor         1354
      77th Street    1303
      Northeast      1299
      Olympic        1249
      Mission        1243
      West LA        1190
      Devonshire     1185
      N Hollywood    1136
      Topanga        1035
      West Valley     832
      Southeast       708
      Hollenbeck      675
      Foothill        660
      Wilshire        572
Name: area_name, dtype: int64

3. There are differences between the average age of an arrestee for the various charge groups. Find the average age of arrestees per each charge group.Only consider data for 2018. Do not consider "Pre-Delinquency" and "Non-Criminal Detention" as these charge groups are reserved for minors Exclude any arrests where the charge group description is not known [5]

Missing values were already dropped thus 'not known' is not in the dataframe.

In [ ]:
# creating dataframe without "Pre-Delinquency" and "Non-Criminal Detention" in 2018
df3=arrest_df[(arrest_df['year']==2018) &
              (arrest_df['charge_group_description']!='Non-Criminal Detention') &
              (arrest_df['charge_group_description']!='Pre-Delinquency')]
# grouping df3 by year & 'charge_group_description' against mean age
df3.groupby(['year','charge_group_description']).age.mean()

year  charge_group_description
2018  Against Family/Child              36.950355
      Aggravated Assault                33.907359
      Burglary                          30.366755
      Disorderly Conduct                41.924290
      Disturbing the Peace              39.727273
      Driving Under Influence           34.428291
      Drunkeness                        44.219972
      Federal Offenses                  34.600000
      Forgery/Counterfeit               35.066667
      Fraud/Embezzlement                35.689076
      Gambling                          40.557047
      Homicide                          30.896552
      Larceny                           32.721717
      Liquor Laws                       42.543585
      Miscellaneous Other Violations    36.252076
      Moving Traffic Violations         33.085622
      Narcotic Drug Laws                36.097954
      Other Assaults                    33.451139
      Prostitution/Allied               31.610687
      Rape                              36.203704
      Receive Stolen Property           33.687500
      Robbery                           27.538739
      Sex (except rape/prst)            36.555838
      Vehicle Theft                     30.095624
      Weapon (carry/poss)               29.477178
Name: age, dtype: float64

In [20]:
df_2018=arrest_df[(arrest_df['year']==2018)]
df_2018.groupby('year').area_name.value_counts()

year  area_name
2018  Central        5011
      Hollywood      2798
      Rampart        1935
      Pacific        1699
      Van Nuys       1530
      Newton         1490
      Southwest      1424
      Harbor         1354
      77th Street    1303
      Northeast      1299
      Olympic        1249
      Mission        1243
      West LA        1190
      Devonshire     1185
      N Hollywood    1136
      Topanga        1035
      West Valley     832
      Southeast       708
      Hollenbeck      675
      Foothill        660
      Wilshire        572
Name: area_name, dtype: int64

4. What is the 95% quantile of the age of the arrestee in 2018? Only consider the following charge groups for your analysis: Vehicle Theft Robbery Burglary Receive Stolen Property [5]

> Answer: **The 95% quantile of the age is 52 years**

In [ ]:
arrest_df[:2]

,report_id,arrest_date,time,area_id,area_name,reporting_district,age,sex_code,descent_code,charge_group_code,charge_group_description,arrest_type_code,charge,charge_description,address,location,year
0,4248313,02/24/2015,1310.0,20.0,Olympic,2022.0,37.0,M,H,5.0,Burglary,F,459PC,BURGLARY,5TH,"(34.0653, -118.314)",2015
2,4254777,02/26/2015,2010.0,19.0,Mission,1985.0,22.0,M,H,6.0,Larceny,M,459.5PC,SHOPLIFTING,8300 VAN NUYS BL,"(34.2216, -118.4488)",2015

In [ ]:
arrest_df['charge_group_description'].unique()

array(['Burglary', 'Larceny', 'Robbery', 'Other Assaults',
       'Miscellaneous Other Violations', 'Drunkeness', 'Liquor Laws',
       'Narcotic Drug Laws', 'Disorderly Conduct', 'Prostitution/Allied',
       'Disturbing the Peace', 'Driving Under Influence', 'Gambling',
       'Sex (except rape/prst)', 'Fraud/Embezzlement',
       'Receive Stolen Property', 'Homicide', 'Weapon (carry/poss)',
       'Aggravated Assault', 'Vehicle Theft', 'Against Family/Child',
       'Forgery/Counterfeit', 'Moving Traffic Violations',
       'Non-Criminal Detention', 'Rape', 'Federal Offenses',
       'Pre-Delinquency'], dtype=object)

In [21]:
# df2 was already filtered to 2018, we can filter it further to meet the conditions in order to asnwer quiz4
df4=df_2018[(df_2018['charge_group_description']=='Robbery') |
              (df_2018['charge_group_description']=='Burglary') |
              (df_2018['charge_group_description']=='Vehicle Theft') |
              (df_2018['charge_group_description']=='Receive Stolen Property') 
              ]

In [22]:
# confirming that we have met all the conditions
print(df4['charge_group_description'].unique()) # filter 4 charge group descriptions 
print(df4['year'].unique()) # filtered to 2018 only

['Vehicle Theft' 'Robbery' 'Burglary' 'Receive Stolen Property']
[2018]

In [23]:
# calculating the 95% age quantile
df4['age'].quantile(0.95)

52.0

5. Crime arrest incidents have been dropping over the years. Using a linear regression for the data from 2010 and 2018 (inclusive), predict number of crime arrests in 2019? Round to the nearest integer. Note, the data set includes arrests for misdemeanor, felonies, etc. [5]

In [24]:
# getting number of cases in each year and creating a dataframe of year and cases
arrest_df.year.value_counts().rename_axis('year').reset_index(name='counts')

   year  counts
0  2010  156536
1  2012  154120
2  2011  152340
3  2013  144266
4  2014  128722
5  2015  115619
6  2016  108825
7  2017   98864
8  2019   49754
9  2018   30328

In [16]:
#creating a dataframe from the total number of crimes committed in each year
count_df = arrest_df.year.value_counts().rename_axis('year').reset_index(name='counts')

# excluding 2019 from the new dataset
count_df = count_df[count_df['year']!=2019]
count_df

   year  counts
0  2010  156536
1  2012  154120
2  2011  152340
3  2013  144266
4  2014  128722
5  2015  115619
6  2016  108825
7  2017   98864
9  2018   30328

In [17]:
from sklearn.linear_model import LinearRegression # importing linear regression model
X = count_df.year.values.reshape(-1,1) #reshaping X and y values to 2D
y = count_df.counts.values.reshape(-1,1)
reg = LinearRegression()             # creating linear regression instance/object
reg.fit(X,y)                         # fitting datasets to regression object 
y_pred = reg.predict(X)              # predicting y values
y_pred

array([[173368.68888889],
       [147218.78888889],
       [160293.73888889],
       [134143.83888889],
       [121068.88888889],
       [107993.93888889],
       [ 94918.98888889],
       [ 81844.03888889],
       [ 68769.08888889]])

In [18]:

pred = reg.predict(np.array(2019).reshape(-1,1)) # predicting the crime committed in 2019
pred.astype('int32') # type casting the output as an integer

array([[55694]], dtype=int32)

6. How many arrest incidents occurred within 2 km from the Bradbury Building in 2018? Use (34.050536, -118.247861) for the coordinates of the Bradbury Building . For simplicity, please use the spherical Earth projected to a plane equation for calculating distances. Use the radius of the Earth as 6371 km. Note, some arrest records are missing location data and the location is listed as (0, 0). These records should not factor in your calculation.[5]

> There are **5211** cases

In [ ]:
!pip install haversine

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting haversine
  Downloading haversine-2.7.0-py2.py3-none-any.whl (6.9 kB)
Installing collected packages: haversine
Successfully installed haversine-2.7.0

In [26]:
import geopy.distance as geo     # importing library to calculate distance

# in this case, we are using df2 which includes 2018 data only.
df2_loc = df_2018['location'].str.strip('()').str.split(', ', expand=True).rename(columns={0:'latitude', 1:'longitude'})    # extracting the latitudes and longitudes.
coords_2 = (34.050536, -118.247861)                                                                                     # starting coordinates
df2_loc['distance'] = df2_loc.apply(lambda x: geo.distance((x.latitude, x. longitude), coords_2).km, axis=1)            # getting distance in km

In [ ]:
df2_loc[df2_loc['distance']<=2].count() # selecting distances within 2km and counting number of instances

latitude     5211
longitude    5211
distance     5211
dtype: int64